      <!-- Navigation Bar -->
      <div class="header_menu">
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-flex d-flex align-items-center justify-content-between w-100">
              <!-- Brand -->
              <div class="navbar-header">
                <a class="navbar-brand text-center" href="/">
                  <img src="assets/images/logo.png" alt="YPLEF" />
                </a>
              </div>
              <!-- Nav links -->
              <div class="navbar-collapse1 w-100" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="responsive-menu">
                  {% for link in site.data.menus.main %}
                    <li {% if link.children %}class="dropdown submenu"{% endif %}>
                      <a
                        href="{{ link.url }}"
                        {% if link.children %}class="dropdown submenu"{% endif %}
                        {% if link.external %}target="_blank" rel="noopener"{% endif %}
                      >
                        {{ link.name }}
                        {% if link.children %}<i class="fas fa-chevron-down"></i>{% endif %}
                      </a>
                      {% if link.children %}
                        <ul class="dropdown-menu">
                          {% for childlink in link.children %}
                            <li><a href="{{ childlink.url }}">{{ childlink.name }}</a></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div id="slicknav-mobile"></div>
            </div>
          </div>
        </nav>
      </div>
      <!-- Navigation Bar Ends -->
